<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4 display-4">Maple Leaf Careers</h1>
      <p class="lead">Your application for the {{job['title']}} position has been successfully submitted!</p>
      <h5 class="mb-0">Full Name</h5>
      <div class="mb-2">
        {{application['full_name']}}
      </div>
      <h5>Email Address</h5>
      <div class="mb-2">
        {{application['email']}}
      </div>
      <h5>Linkedin URL</h5>
      <div class="mb-2">
        {{application['linkedin_url']}}
      </div>
      <h5>Education</h5>
      <div class="mb-2">
        {{application['education']}}
      </div>
      <h5>Work Experience</h5>
      <div class="mb-2">
        {{application['work_experience']}}
      </div>
      <h5>Resume URL</h5>
      <div class="mb-2">
        {{application['resume_url']}}
      </div>
    </div>
      {% include 'footer.html' %}
  </body>
</html>