<div class="border-bottom pb-2">
  {% include 'bootstrap.html' %}
  <form id="appform" style="display: none;" action="/job/{{job['id']}}/apply" method="POST">
    <h4 class="mb-3">Application Form</h4>
    <div class="mb-2 input-group">
      <span class="input-group-text">Full Name</span>
      <input class="form-control" type="text" name="full_name" placeholder="Bruce Wayne" maxlength="250" required>
    </div>
    <div class="mb-2 input-group">
      <span class="input-group-text" for="email">Email Address</span>
      <input class="form-control" type="email" name="email" placeholder="bruce.wayne@mail.com" maxlength="250" required>
    </div>
    <div class="mb-2 input-group">
      <span class="input-group-text" for="url">Linkedin URL</span>
      <input class="form-control" type="text" name="linkedin_url" placeholder="linkedin.com/in/brucewayne" pattern="https://.*">
    </div>
    <div class="mb-2 input-group">
     <span class="input-group-text">Education</span>
     <textarea class="form-control" name="education" minlength="100" maxlength="2000" required></textarea>
    </div>
    <div class="mb-2 mt-2 input-group">
      <span class="input-group-text">Work Experience</span>
      <textarea class="form-control" minlength="100" maxlength="2000" name="work_experience" required></textarea>
    </div>
    <div class="mb-2 input-group">
      <span class="input-group-text" for="url">Resume URL</span>
      <input class="form-control" type="text" name="resume_url" placeholder="https://example.com/users/" pattern="https://.*">
    </div>
    <div class="mb-2 mt-2 input-group">
      <input class = "btn btn-dark" type="submit" name="submit">
    </div>
  </form>
</div>
